<script type="text/javascript" src="#springUrl('/app/mailinfo.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		var grid=new com.zz91.zzmail.mailinfo.Grid({
			id:MAILINFO.MAILINFO_GRID,
			layout:"fit",
			region:"center"
		});
		
		
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[grid]
		});
		
	})
</script>