<script type="text/javascript" src="#springUrl('/app/tags/tags.js')" ></script>
<script type="text/javascript">
Ext.onReady(function(){
	var grid=new com.zz91.tags.grid({
		region:"center",
		id:TAGS.TAGSGRID
	});
	new Ext.Viewport({
		layout:"border",
		items:[grid] 
		
	})
})
</script>
