<!--import validator css-->
<link rel="stylesheet" style="text/css" href="$!{address.img}/lib/jquery/ux/validationEngine.css" />

<!--import validator js-->
<script type="text/javascript" src="$!{address.img}/lib/jquery/ux/validationEngine.js"></script>
<script type="text/javascript" src="$!{address.img}/lib/jquery/ux/languages/jquery.validationEngine-zh_CN.js"></script>
