<!--[if lt IE 9]>
<script type="text/javascript" src="$!{address.img}/lib/asto/html5forIE.js"></script>
<![endif]-->
<link rel="shortcut icon" href="$!{address.favicon}" />

<!--import common css-->
<link rel="stylesheet" style="text/css" href="$!{address.img}/lib/asto/asto.hack-1.0.0.css" />
<link rel="stylesheet" style="text/css" href="$!{address.img}/lib/jquery-ui/1.8.16/ui-lightness/jquery-ui-1.8.16.custom.css" />

<!--import common js-->
<script type="text/javascript" src="$!{address.img}/lib/jquery/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="$!{address.img}/lib/jquery-ui/1.8.16/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="$!{address.img}/lib/asto/asto-all-1.0.0.js"></script>