<form action="doUpdate.htm" method="post" id="form1" name="form1">
	<textarea name="mailList" style="width:99%;height:450px;">$!{maillist}</textarea>
	<br />
	<input type="submit" value="更新" />
</form>