<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	
		<servlet> <servlet-name>initSystem</servlet-name>
		<servlet-class>com.zz91.log.config.InitServlet</servlet-class>
		<load-on-startup>2</load-on-startup> </servlet>
	
	<servlet>
		<servlet-name>logReadServer</servlet-name>
		<servlet-class>com.zz91.log.servlet.LogReadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>logReadServer</servlet-name>
		<url-pattern>/logRead</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mongoServer</servlet-name>
		<servlet-class>com.zz91.log.servlet.LogRecordServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>mongoServer</servlet-name>
		<url-pattern>/mongo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logServer</servlet-name>
		<servlet-class>com.zz91.log.servlet.LogServerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>logServer</servlet-name>
		<url-pattern>/log</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>tracking</servlet-name>
		<servlet-class>com.zz91.log.servlet.TrackingServlet</servlet-class>
		<init-param>
			<param-name>excludeIP</param-name>
			<param-value>127.0.0.1,61.234.184.252,192.168.110.110-192.168.110.120</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>tracking</servlet-name>
		<url-pattern>/tracking</url-pattern>
	</servlet-mapping>

</web-app>