<script type="text/javascript" src="#springUrl('/app/account.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		var grid=new com.zz91.zzmail.account.Grid({
			id:ACCOUNT.ACCOUNT_GRID,
			layout:"fit",
			region:"center"
		});
		
		
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[grid]
		});
		
	})
</script>
