<script type="text/javascript" src="#springUrl('/app/template.js')" ></script>
<script type="text/javascript" >
	Ext.onReady(function(){
		var grid=new com.zz91.sms.template.Grid({
			id:TEMPLATE.TEMPLATE_GRID,
			layout:"fit",
			region:"center"
		});
		
		
		var viewport = new Ext.Viewport({
			layout:"border",
			items:[grid]
		});
		
		
	})
</script>